.at-button{
  margin: 0;
}
.button-group{
  .at-button+.at-button{
    margin-left: 20px;
  }
}
.wait{
  .state{
    color: orangered;
  }
}
.at-modal__content{
  display: flex;
  align-items: center;
  text-align: center;
}